@import '../../../styles/flex.scss';
@import '../../../styles/colors.scss';

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  color: $grey;
  @include center();

  .not-found-content {
    @include center();

    img {
      height: 125px;
      width: 100px;
    }
  }
}