@import '../../../styles/flex.scss';
@import '../../../styles/colors.scss';

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .summary-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 20px 0px rgb(0 0 0 / 8%);
    background-color: #FFFFFF;
    border-radius: 4px;
    justify-self: center;

    .pokemon-name {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
      text-transform: capitalize;
    }

    .pokemon-image {
      margin-bottom: -30px;
      margin-right: 30px;
    }

    .sprites {
      margin-bottom: 25px;

      .sprite {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid $light-grey;
        width: 80px;
        height: 80px;
        margin: 8px;

        img {
          height: 70px;
          width: auto;
        }
      }
    }

    .action {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}

@media screen and (max-width: 599px) {
  .main-container {
    .summary-container {
      flex-direction: column;

      .pokemon-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .sumary-content {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .sprites {
          margin-top: 10px;
          .subtitle {
            display: none;
          }
        }
      }


    }
  }
}